#Node.js
backend/node_modules
backend/users.json
backend/serviceAccountKey.json

#Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/app/google-services.json

#Flutter generated
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/Generated.xcconfig
mobile/.metadata
mobile/pubspec.lock
mobile/android/build/

.env
.idea/